body{
    margin: 0;
}
main{
    height: 85vh;
    display:flex;
    justify-content: center;
   padding-top: 100px;
   margin-left: 500px;
   margin-right: 500px;
   margin-bottom: 50px;
   margin-top: 20px;
  
    background-color: blue;

}

.ball {
   
    width: 50px;
    height: 50px;
    border-radius: 50%;

   
}

.bouncing-ball{
    background-color: red;
     animation: squashstretch .5s ease-in-out .2s infinite alternate;
     animation: squashstretch .5s ease-in-out .2s infinite alternate;
 



           
}



@keyframes squashstretch {
	0% {
		transform: translateY(-100px);
		        transform: translateY(-100px); 
	}
	
	10% { 
		width: 50px;
		height: 50px;
        border-radius: 50px;
      
	}
	
	100% { 
		width: 75px;
		height: 50px;
		border-bottom-left-radius: 60px;
		border-bottom-right-radius: 60px;
        border-top-left-radius: 60px;
		border-top-right-radius: 60px;
		transform: translateY(65vh);
		        transform: translateY(65vh);
               box-shadow: 10px 20px 30px black;
	}
}




